//ソートボタン用
@mixin sort-order($asc, $desc) {
  &.sort-asc {
    span:first-child::after {
      content: ':'$asc;
    }
  }
  &.sort-desc {
    span:first-child::after {
      content: ':'$desc;
    }
  }
}

//店舗一覧ページ
._c-entries__item-store {
  margin-bottom: 15px;
  padding: .5rem .5rem;
  border: solid 1px $_color_main2;
  box-shadow: 0 1px 1px $_color_main2;
  a {
    text-decoration: none;
    color: $_color_main1;
    &:hover {
      text-decoration: underline;
    }
    @include _media-min(md) {
      padding: 1rem 1.5rem;
    }
  }
  ._c-entry-summary__title {
    margin-bottom: 10px;
    padding-left: .5rem;
    font-size: 1.1rem;
    @include _media-min(md) {
      padding-left: 0;
      font-size: 1.5rem;
    }
  }
  ._c-entry-summary__info-photo {
    display: flex;
    align-items: center;
  }
  ._c-entry-summary__info-desc {
    padding: 0 1rem;
    h3 {
      font-size: 1.2rem;
    }
  }
}

._p-search-form.archive-store {
  @include _margin(.5, 0, 1);
}

.btn-sort_box,
.btn-refine_box {
  width: 50%;
  &::before {
    margin-right: 5px;
    content: '\f055';
    font-family: Fontawesome;
    color: $_color_main1;
  }
  &.open {
    border-bottom: none;
    &::before {
      content: '\f056';
    }
  }
}

.btn-sort_box {
  border-right: none;
}

._c-box--sort_btn,
._c-box--refine_btn {
  display: none;
  @include _padding(.5);
  border: solid 1px _light($_color_gray);
  border-top: none;
}

._c-btn-sort {
  padding: 0;
  &.on {
    background: lighten($_color_lightgray, 5%);
    box-shadow: 0 2px 3px $_color_lightgray;
  }
  &:hover {
    background: $_color_lightgray;
  }
  span {
    display: inline-block;
    padding: .75rem;
  }
  .fa-sort-asc {
    display: none;
  }
  .fa-sort-desc {
    display: none;
  }
  &.sort-asc {
    i:not(.fa-sort-asc) {
      display: none;
    }
    .fa-sort-asc {
      display: inline;
    }
  }
  &.sort-desc {
    i:not(.fa-sort-desc) {
      display: none;
    }
    .fa-sort-desc {
      display: inline;
    }
  }
  &:not(.on) {
    i:not(.fa-sort) {
      display: none;
    }
    .fa-sort {
      display: inline;
    }
  }
}

[data-class="open"] {
  .store-open {
    font-weight: bold;
  }
}

[data-class="lo"] {
  .store-lo {
    font-weight: bold;
  }
}

[data-class="price"] {
  .store-price {
    font-weight: bold;
  }
}

[data-class="capacity"] {
  .store-capacity {
    font-weight: bold;
  }
}

[data-sort="open"] {
  @include sort-order('早い順', '遅い順');
}

[data-sort="lo"] {
  @include sort-order('早い順', '遅い順');
}

[data-sort="price"] {
  @include sort-order('安い順', '高い順');
}

[data-sort="capacity"] {
  @include sort-order('少ない順', '多い順');
}
