//index キーヴィジュアル
.index-keyvisual {
  margin-bottom: 20px;
  height: 300px;
  min-height: 300px;
  background-size: 2.985vw;
  background-image: linear-gradient( 90deg, #fff100 0%, #fff100 50%, #fdde00 50%, #fdde00 100%);
  @include _media-min(md) {
    height: 400px;
    background-size: 20px;
  }
}

.sakazukin-osaka {
  height: 100%;
}

.index-description {
  display: inline-block;
  padding: 1em;
  border: solid 2px $_color_main1;
}

//index　CSS
.index--description h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: $_color_main1;
  font-weight: bold;
}

.index--rules {
  display: inline-block;
  padding: 1rem;
  border: solid 1px $_color_main2;
  box-shadow: 0 1px 2px $_color_main2;
  h3 {
    font-size: 1.5rem;
  }
}

.index__list--rules {
  counter-reset: my-counter;
  list-style: none;
  text-align: left;
  margin: 1rem 0 1.5rem;
  li {
    display: flex;
    margin-bottom: 5px;
    &::before {
      content: counter(my-counter);
      counter-increment: my-counter;
      background-color: $_color_main2;
      color: white;
      display: block;
      width: 1.2rem;
      height: 1.2rem;
      margin-top: 0.2rem;
      margin-right: 5px;
      text-align: center;
      line-height: 1.2;
      border-radius: 50%;
    }
  }
}
