@import 'foundation/setting/*';
@import '../../../mimizuku/src/css/style';
//変数
$_color_main1: #306551;
$_color_main2: #66B295;
$_color_lightgray: #eee;
@import 'archive-store';
@import 'single-map';
@import 'index';
//ヘッダー
._l-header {
  box-shadow: 0 1px 1px $_color_main1;
}

._c-site-branding__title {
  font-size: 4.5vw;
  line-height: 50px;
  a {
    color: $_color_main1;
  }
}

._c-site-branding__title-img {
  width: 200px;
}

._c-hamburger-btn::after {
  display: block;
  position: absolute;
  padding-top: 2px;
  content: 'MENU';
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: $_color_main2;
  font-size: 8px;
}

._c-hamburger-btn[aria-expanded="true"]::after {
  content: 'CLOSE';
}

._c-hamburger-btn__bar {
  background: $_color_main2;
}

//グローバルメニュー
._p-global-nav ._c-navbar__item>a {
  color: $_color_main1;
  position: relative;
  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    right: 50%;
    bottom: 0;
    background: $_color_main2;
    transition: .3s ease-out;
  }
  &::after {
    left: 50%;
  }
  &:hover {
    color: $_color_main2;
    &::before,
    &::after {
      width: 50%;
    }
  }
}

//パンくずリスト
._c-breadcrumbs {
  margin: 15px 0;
}

._c-breadcrumbs__item a {
  color: $_color_main2;
  text-decoration: none;
  :hover {
    color: $_color_main1;
  }
}

//共通設定
._l-main {
  margin-bottom: 1rem;
}

._u-hidden-all {
  display: none;
}

._l-contents {
  h1 {
    position: relative;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
  }
  h1::after {
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 10px;
    transform: translateX(-50%);
    content: '';
    background: $_color_main1;
    width: 3em;
    height: 2px;
  }
}

.storelist-banner {
  width: 600px;
  max-width: 100%;
}

//サイトバー
.sidebar-title {
  font-size: 1.5rem;
  border-bottom: solid 2px #333;
  padding-bottom: .25rem;
  margin-bottom: 1rem;
}

//ドロワーメニュー
._c-drawer__body {
  background-color: rgba(48, 101, 81, .925);
}

//フッター
._l-footer {
  padding-top: 20px;
  background: $_color_main1;
  color: white;
  a {
    color: white;
  }
}

._c-copyright {
  padding-bottom: 1rem;
  text-align: center;
  font-size: .8rem;
}

//店舗一覧ページ
.store {
  h1 {
    padding-top: 5px;
    color: $_color_main1;
  }
}

.store-keyvisual {
  background: center center/cover no-repeat;
  height: 200px;
  width: 100vw;
  @include _media_min(639px) {
    height: 300px;
    background-attachment: fixed;
  }
  @include _media_min(1023px) {
    height: 400px;
    margin-top: 50px;
  }
}

._c-entry__content .store-info {
  margin-top: 15px;
}

.store-info {
  margin-left: -12px;
  width: 100vw;
  border-top: solid 2px $_color_main1;
  @include _media_min(480px) {
    width: 100%;
    margin-left: 0;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
  }
  dt,
  dd {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 1px #999;
  }
  dt {
    background: lighten($_color_main2, 30%);
    font-weight: normal;
  }
  dd {
    flex-flow: wrap;
    flex-basis: 100%;
    text-align: left;
  }
  h2 {
    font-size: 1.2rem;
    .pref {
      display: inline-block;
      padding: .2rem .5rem;
      background: #666;
      color: white;
    }
  }
}

.sake-type {
  margin-left: 0;
  li {
    display: inline-block;
    padding: 3px 5px;
    border: solid 1px #666;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
