@import 'foundation/setting/*';
@import '../../../mimizuku/src/css/style';
//変数
$_color_main1: #306551;
$_color_main2: #66b295;
$_color_lightgray: #eee;
@import 'archive-store';
@import 'store';
@import 'single-map';
@import 'index';

//ヘッダー
._l-header {
  box-shadow: 0 1px 1px $_color_main1;
}

._c-site-branding__title {
  font-size: 4.5vw;
  line-height: 50px;

  a {
    color: $_color_main1;
  }
}

._c-site-branding__title-img {
  width: 200px;

  @include _media-max(sm) {
    width: 150px;
  }
}

._c-hamburger-btn::after {
  display: block;
  position: absolute;
  padding-top: 2px;
  content: 'MENU';
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: $_color_main2;
  font-size: 8px;
}

._c-hamburger-btn[aria-expanded='true']::after {
  content: 'CLOSE';
}

._c-hamburger-btn__bar {
  background: $_color_main2;
}

.fa-twitter {
  color: #55acee;
}

.fa-facebook {
  color: #315096;
}

.fa-twitter,
.fa-facebook {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.1);
  }
}

//グローバルメニュー
._p-global-nav ._c-navbar__item>a {
  color: $_color_main1;
  position: relative;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    right: 50%;
    bottom: 0;
    background: $_color_main2;
    transition: 0.3s ease-out;
  }

  &::after {
    left: 50%;
  }

  &:hover {
    color: $_color_main2;

    &::before,
    &::after {
      width: 50%;
    }
  }
}

//パンくずリスト
._c-breadcrumbs {
  margin: 15px 0;
}

._c-breadcrumbs__item a {
  color: $_color_main2;
  text-decoration: none;

  :hover {
    color: $_color_main1;
  }
}

//共通設定
._l-main {
  margin-bottom: 2rem;
}

._u-hidden-all {
  display: none;
}

._l-contents {
  h1 {
    position: relative;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
  }

  h1::after {
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 10px;
    transform: translateX(-50%);
    content: '';
    background: $_color_main1;
    width: 3em;
    height: 2px;
  }
}

._c-section__title {
  margin-bottom: 2rem;
}

.index_latest-title {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: $_color_main1;

  &::before,
  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: $_color_main1;
  }

  &::before {
    margin-right: 0.25rem;
  }

  &::after {
    margin-left: 0.25rem;
  }
}

h3 {
  margin: 2rem 0 1rem;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: solid 1px $_color_main2;
  margin: 0.5rem 0;
}

//アーカイブページ
._c-entry-summary__title {
  font-size: 1.5rem;

  a {
    color: $_color_main1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

//faq
.section-faq {

  dt,
  dd {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;

    &::before {
      display: block;
      width: 3rem;
      height: 3rem;
      content: '';
      background: url(https://nga-osaka.com/wp-content/uploads/2018/09/faq-q.jpg) center center/cover no-repeat;
      flex-basis: 3rem;
      flex-shrink: 0;
    }
  }

  dd {
    margin-left: 2rem;
    margin-bottom: 2rem;

    &::before {
      background-image: url(https://nga-osaka.com/wp-content/uploads/2018/09/faq-a.jpg);
    }
  }
}

//付き出しギャラリー
#amuse-list img {
  transition: opacity .3s ease-out;

  &:hover {
    opacity: .7;
  }
}

.fancybox-title-over a {
  color: white;
}

//サイトバー
.sidebar_box {
  margin-bottom: 2rem;
}

.sidebar-title {
  font-size: 1.5rem;
  border-bottom: solid 2px #333;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
}

.sidebar_box .menu {
  list-style: none;

  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: $_color_main2;
    transition: color 0.3s ease-out;

    &:hover {
      text-decoration: underline;
      color: $_color_main1;
    }
  }
}

//ドロワーメニュー
._c-drawer__body {
  background-color: rgba(48, 101, 81, 0.925);
}

//フッター
._l-footer {
  padding-top: 20px;
  background: $_color_main1;
  color: white;

  a {
    color: white;
  }

  ._c-row {
    margin-top: 1rem;
  }
}

.footer_widget-item {
  margin-bottom: 2rem;
}

.footer_widget-title {
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-bottom: solid 1px white;
}

._p-footer-nav .menu-item {
  display: block;
  margin-bottom: 0.5rem;
}

._c-copyright {
  padding-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}
